(1). Any python text editor e.g:
	IDLE,
	VS Code, 
	Pycharm, 
	Sublime Text3,	
	Atom... 

(2).python3 and pip
(3).flask
(4).folium
(5).Any web browser e.g:
	google chrome
	mozilla firefox
	internet explorer
	safaris
	apple-finder
